<app-template-banner>
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="flex flex-col flex-grow gap-[3rem]">
    <h1>Iniciar sesión</h1>
    <div class="flex flex-col">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input autocomplete="email" matInput type="text" formControlName="email">
        <mat-error *ngIf="hasErrors('email', 'email')">Ingrese un correo electrónico válido</mat-error>
        <mat-error *ngIf="hasErrors('email', 'required')">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseñá</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password"
          autocomplete="current-password">
        <button (click)="showPassword = !showPassword" type="button" mat-icon-button matSuffix>
          <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="hasErrors('password', 'required')">Campo requerido</mat-error>
      </mat-form-field>

      <button mat-raised-button class="material-custom-button" type="submit" [disabled]="loginForm.invalid" >Iniciar Sesion</button>

      <div routerLink="/forgot-password" class="w-full grid grid-cols-2">
        <a class="justify-self-center">¿Olvidaste tu
          contraseña?</a>
        <a class="justify-self-center">Ingresa como
          invitado</a>
      </div>
      <div class="w-full grid grid-cols-2 h-auto text-center text-[2.225rem]">
        <fa-icon (click)="useFacebookStrategy()" [icon]="faFacebook" class="w-full justify-self-center	hover:cursor-pointer"></fa-icon>
        <fa-icon (click)="useGoogleStrategy()" [icon]="faGoogle" class="justify-self-center	hover:cursor-pointer w-full"></fa-icon>
      </div>
      <p class=" text-[1.7vh] text-center hover:cursor-pointer" [routerLink]="['/sign-up']"
        routerLinkActive="router-link-active">¿No tienes cuenta? Registrate</p>
    </div>
  </form>
</app-template-banner>