<app-template-banner>
  <div class="flex-grow flex flex-col">
    <h1 class=" text-center">F.E.D.E.</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()"
      class="flex flex-col w-[100%] py-[15px] items-center sm:gap-[15px]">
      <mat-form-field class="w-full input-container-loginform">
        <mat-label class="form-label">Email</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error *ngIf="hasErrors('email', 'email')">Ingrese un correo electrónico válido</mat-error>
        <mat-error *ngIf="hasErrors('email', 'required')">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full input-container-loginform">
        <mat-label class="form-label">Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="hasErrors('password', 'required')">Campo requerido</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" class="min-h-[3rem] w-full  ">Iniciar Sesion</button>
    </form>

    <div color="primary" routerLink="/forgot-password" class="w-full grid grid-cols-2">
      <a class="justify-self-center">¿Olvidaste tu
        contraseña?</a>
      <a class="justify-self-center">Ingresa como
        invitado</a>
    </div>
    <div class="w-full grid grid-cols-2 h-auto text-center text-[2.225rem]">
      <fa-icon [icon]="faFacebook" class="w-full justify-self-center	hover:cursor-pointer"></fa-icon>
      <fa-icon [icon]="faGoogle" class="justify-self-center	hover:cursor-pointer w-full"></fa-icon>
    </div>
    <p class=" text-[1.7vh] text-center hover:cursor-pointer" [routerLink]="['/sign-up']"
      routerLinkActive="router-link-active">¿No tienes cuenta? Registrate</p>
  </div>
</app-template-banner>