@use '@angular/material' as mat;

@include mat.core();


$crilockers-primary: mat.define-palette(mat.$deep-purple-palette);
$crilockers-accent: mat.define-palette(mat.$purple-palette, 900);

$crilockers-warn: mat.define-palette(mat.$red-palette);

$crilockers-theme: mat.define-light-theme((
  color: (
    primary: $crilockers-primary,
    accent: $crilockers-accent,
    warn: $crilockers-warn,
  ),
));


@include mat.all-component-themes($crilockers-theme);